.trasted-logo {
  background: #fafafa;
  padding: 30px 0;

  .container {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

    strong{
     color: #C2C2C5;
     font-size: 20px;
    }
  }
}
